* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    background: #08a59d;
    position: relative;
    display: flex;
  }
  
  /* <!-- START OF DASHBOARD SECTION  --> */
  
  #menu {
    /*background-color: #111827; */
    /* background-color: #33d7ff; */
    background-color: #d3b611;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #menu .logo {
    display: flex;
    align-items: center;
    columns: #fff;
    padding: 30px 0 0 30px;
  }
  
  #menu .logo img {
    width: 60px;
    margin-right: 15px;
  }
  
  #menu .items {
    /* from the logo it comes down 4px*/
    margin-top: 40px;
  }
  
  #menu .items li {
    list-style: none; /* Remove the bullet points */
    padding: 15px 0;
    transition: 0.3s ease;
  }
  
  /*To add hover effect*/
  
  #menu .items li:hover {
    background: #253047;
    cursor: pointer;
  }
  
  /*When hovering over item change the color of icon*/
  #menu .items li:hover i {
    color: #f3f4f6;
  }
  
  /*When hovering over change the text color*/
  #menu .items li:hover i,
  #menu .items li:hover a {
    color: #f3f4f6;
  }
  #menu .items li i {
    color: rgb(11, 12, 12); /*coloring the items*/
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25;
  }
  /* color: rgb(134, 141, 151);*/
  
  #menu .items li a {
    text-decoration: none; /*to remove the underline */
    color: rgb(0, 0, 0);
    font-weight: 300px;
    transition: 0.3s ease; /* To smoothe our tansition,after hovering over item .3 sec delay  */
  }
  /*color: rgb(134, 141, 151);*/
  
  #menu .logo h2 {
    color: rgb(16, 18, 20);
  }
  
  /* <!-- END OF DASHBOARD SECTION  --> */
  
  /* <!-- START OF NAVBAR FROM INTERFACE SECTION  --> */
  
  #interface {
    width: calc(100% - 300px); /* MENU WIDTH IS 300px*/
    margin-left: 300px;
    position: relative;
  }
  
  #interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(244, 245, 245);
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
  }
  
  #interface .navigation .search {
    display: flex; /*icon and input field in same row */
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid rgb(71, 221, 209);
    border-radius: 4px;
  }
  
  /*space between the logoand search */
  #interface .navigation .search i {
    margin-right: 14px;
  }
  
  #interface .navigation .search input {
    /*To remove the border */
    border: none;
    outline: none;
    font-size: 14px;
  }
  
  /* #interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #interface .navigation .profile i {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400px;
  }
  
  #interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  } */
  
  /* <!-- START OF NAVBAR FROM INTERFACE SECTION  --> */
  
  /* <!-- START OF DASHBOARD FROM INTERFACE SECTION  --> */
  
  .i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .values .val-box {
    background: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }
  
  .values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
  }
  
  /*Giving the background color of each dashboard icons */
  .values .val-box:nth-child(1) i {
    background-color: #7b74ec;
  }
  .values .val-box:nth-child(2) i {
    background-color: #5c8af0;
  }
  .values .val-box:nth-child(3) i {
    background-color: #e45d99;
  }
  .values .val-box:nth-child(4) i {
    background-color: #74daec;
  }
  .values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .values .val-box span {
    font-size: 15px;
    color: #209e98;
  }
  
  /* <!-- END OF DASHBOARD FROM INTERFACE SECTION  --> */
  
 
  #menu .logo img {
    width: 150px;
  }
  